.header-container {
  width: 100%;
  height: 100px;
  background-color: rgb(56, 55, 55);
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
}

.header-contentContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-contentContainer span {
  /* position: relative;
  top: 8px; */
}
.addAnimCart {
  height: 60px;
}

@media (min-width: 550px) {
  /* .header-container {
    bottom: 215px;
  } */
}
