.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ShoppingCart {
  width: 70%;
  height: 70%;
  border: 1px black solid;
  position: relative;
  margin: auto auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas:
    'price'
    'item'
    'discount';
}

.PriceDisplay {
  grid-area: price;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px black dotted;
}

.ItemToBePurchased-mainContainer {
  grid-area: item;
  border-bottom: 1px black dotted;
  display: flex;
  justify-content: center;
}

.ItemToBePurchased-displayContainer {
  width: 80%;
  height: 70%;
  border: 1px red solid;
  margin: auto 0;
  background-color: rgb(214, 210, 210);
  border-radius: 10px;
}
