.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ShoppingCart {
  width: 70%;
  height: 70%;
  box-shadow: 1px 1px 3px 3px rgb(184, 182, 182);
  position: relative;
  margin: auto auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 50% 20%;
  grid-template-areas:
    'price'
    'item'
    'discount';
  max-width: 550px;
}

.PriceDisplay {
  grid-area: price;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(228, 225, 225);
  font-family: 'Lato', sans-serif;
  line-height: 3;
  font-size: 1.2rem;
}

.ItemToBePurchased-mainContainer {
  grid-area: item;
  border-bottom: 1px solid rgb(228, 225, 225);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.ItemToBePurchased-displayContainer {
  width: 80%;
  height: 70%;
  border: 2px solid rgb(230, 227, 227);
  margin: 0 auto;
  background-color: rgb(245, 241, 241);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  font-size: 1rem;
}
.ItemToBePurchased-displayContainer img {
  width: 60%;
  height: 35%;
  margin: 0 auto;
}

.ItemToBePurchased-displayContainer span {
  margin-top: 5%;
}

.Item-details {
  display: flex;
  flex-direction: column;
}
.discount-container {
  grid-area: discount;
  height: 70%;
  margin: auto 0;
  line-height: 2;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 550px) {
  .ItemToBePurchased-displayContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: 'item item-details';
  }

  .Item-details {
    grid-area: item-details;
    height: 60%;
    width: 95%;
    margin: auto auto;
  }
  .ItemToBePurchased-displayContainer img {
    width: 90%;
    height: 42%;
    margin: auto 15px;
  }

  .ItemToBePurchased-mainContainer span {
    margin-bottom: 5%;
  }
}
