.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ShoppingCart {
  width: 50%;
  height: 70%;
  border: 1px black solid;
  position: relative;
  top: 10%;
}
